.container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    gap: 0rem;
  }
}
